<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ionTitle">Edit-Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- using grid to control location of card on smaller and larger screens -->
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list lines="full">
          <ion-item>
          <ion-label color="danger">Name:</ion-label>
            <ion-input required type="text" [(ngModel)]="tree.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="tertiary">Scientific Name:</ion-label> 
            <ion-input required type="text" [(ngModel)]="tree.scientificName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="tertiary">Form:</ion-label>
            <ion-input color="dark" required type="text" [(ngModel)]="tree.form"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" placeholder="Bark" [(ngModel)]="tree.bark"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" placeholder="Leaf" [(ngModel)]="tree.leaf"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" placeholder="Seeds" [(ngModel)]="tree.seeds"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" placeholder="Range" [(ngModel)]="tree.range"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" placeholder="Image URL" [(ngModel)]="tree.imageUrl"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="saveTree()">Save</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
