<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Evergreen MN</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Common Coniferous Trees of Minnesota</h3>
  <img src="https://images.dnr.state.mn.us/natural_resources/plants/trees/coniferous/tamarack/tamarack-cones-lg.jpg"/>

  <p>
    This app let's you learn about the 10 most common coniferous trees in MN.  Find a species in the tree list and learn about ways to identify it.
  </p>
  <p>
    <button ion-button color="primary" menuToggle>Toggle Menu</button>
  </p>
</ion-content>
